.navigation_checkbox {
  display: none;
}
.navigation_button {
  height: min-content;
}
.navigation_icon {
  position: relative;
  margin-top: 1.8rem;
}
.navigation_icon,
.navigation_icon::before,
.navigation_icon::after {
  width: 2rem;
  height: 2px;
  background-color: #00a79d;
  display: inline-block;
}
.navigation_icon::before,
.navigation_icon::after {
  content: '';
  position: absolute;
  left: 0;
  transition: all 0.5s;
}
.navigation_icon::before {
  top: -0.45rem;
}
.navigation_icon::after {
  top: 0.45rem;
}
.navigation_button:hover .navigation_icon::before {
  top: -0.6rem;
  background-color: #f0f0fa;
}
.navigation_button:hover .navigation_icon::after {
  top: 0.6rem;
  background-color: #f0f0fa;
}
.navigation_button:hover .navigation_icon {
  background-color: #f0f0fa;
}
.navigation_checkbox:checked + .navigation_button .navigation_icon {
  background-color: transparent;
}
.navigation_checkbox:checked + .navigation_button .navigation_icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation_checkbox:checked + .navigation_button .navigation_icon::after {
  top: 0;
  transform: rotate(-135deg);
}
.css-edx3xz-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  position: absolute;
  width: 200px;
  /* height: 121px; */
  left: 1152px;
  top: 67px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-left: 1rem;
  margin-top: -8px;
}
.MuiBadge-badge {
  background-color: red;
}
@media only screen and (max-width: 600px) {
  .css-1s1dxek-MuiButtonBase-root-MuiTab-root {
    min-width: 60px !important;
  }
}
.Mui-checked {
  color: #fd7f20;
}
